// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// https://yalter.github.io/niri/Configuration:-Introduction

// environment {}

// Start startup tools
spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "swayidle" "-w" "timeout" "120" "niri msg action power-off-monitors" "resume" "niri msg action power-on-monitors" "timeout" "180" "systemctl suspend" "before-sleep" "swaylock -f"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "swaybg -i ~/.config/assets/img-home-screen.jpg -m fill"

switch-events {
    lid-close { spawn "systemctl" "suspend"; }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

input {
    touchpad {
        tap
        drag true
        natural-scroll
        accel-speed 0.4
    }

    mouse {
        accel-speed 0.4
    }
}

cursor {
    xcursor-theme "default"
    xcursor-size 24
    hide-after-inactive-ms 13000
}

gestures {
    hot-corners {
        bottom-right
    }
}

// `optional` is not yet supported
// include optional=true "xkb-meta-alt.kdl"
include "keyboard.kdl"

output "eDP-1" {
    mode "1920x1080@60.049"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@120.000"
    scale 1
    transform "normal"
    position x=0 y=-1080
}

layout {
    gaps 8
    center-focused-column "never"
    background-color "transparent"
    empty-workspace-above-first
    preset-column-widths {
        proportion 0.5
        proportion 0.8
        proportion 0.9
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 2.5
        active-gradient from="#dfee6c" to="#84c188" angle=45 in="oklch increasing hue"
        inactive-color "#00000000"
    }
    border { off; }
    shadow {}
    struts {}
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations { slowdown 0.7; }

include "window-rules.kdl"
include "key-binds.kdl"
