// Window rules let you adjust behavior for individual windows.
// https://yalter.github.io/niri/Configuration:-Window-Rules

window-rule {
    // Chrome, the app-id become "" when checked using `niri msg windows`
    match app-id="" title="Picture in picture"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="google-chrome" title="^Meet.*$"
    match app-id=r#"zoom$"# title="^as_toolbar$"
    match app-id="org.gnome.SoundRecorder"

    open-floating true
}

window-rule {
    match app-id="chrome-chatgpt.com__-Default"
    
    default-column-width { proportion 0.3; }
    default-window-height { proportion 0.9; }
    default-floating-position x=0 y=40 relative-to="top"
    open-floating true
}

window-rule {    
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"zoom$"# title="^as_toolbar$"

    block-out-from "screencast"
}

window-rule {
    // this prevent firefox, gedit, or similar gtk app get extra border.
    clip-to-geometry true
}

window-rule {
    match is-floating=true
    
    shadow { on; }
}
